.bonuses-error{
    color: #ad1616;
    background: #ffc5c5 url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ad1616'%3E%3Cpath d='M16,26a2,2,0,1,1,2-2A2,2,0,0,1,16,26Zm0-2Z'/%3E%3Cpath d='M16,20a1,1,0,0,1-1-1V11a1,1,0,0,1,2,0v8A1,1,0,0,1,16,20Z'/%3E%3Cpath d='M27.78,30H4.22a3.19,3.19,0,0,1-2.77-1.57,3.13,3.13,0,0,1-.06-3.13L13.17,3.67a3.23,3.23,0,0,1,5.66,0L30.61,25.3a3.13,3.13,0,0,1-.06,3.13A3.19,3.19,0,0,1,27.78,30ZM16,4a1.18,1.18,0,0,0-1.07.63L3.15,26.25a1.12,1.12,0,0,0,0,1.16,1.19,1.19,0,0,0,1,.59H27.78a1.19,1.19,0,0,0,1-.59,1.12,1.12,0,0,0,0-1.16L17.07,4.63A1.18,1.18,0,0,0,16,4Z'/%3E%3C/g%3E%3C/svg%3E") no-repeat;
    border-radius: 10px;
    padding: 20px 50px;
    background-size: 20px;
    background-position: 20px 20px;
}

.promoblock{
    display: block;
    width: 100%;
    min-height: calc(100vh - 122px);
    padding-top: 95px;
    overflow: hidden;
}
.promoblock__title{
    display: block;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #262B38;
}
.promoblock__content{
    display: block;
    margin-top: 135px;
    background: #F8F8F8;
}
.promoblock__wrapper{
    display: block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 21px;
}
.promoblock__txt{
    display: block;
    max-width: 700px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #262B38;
}
@media (max-width: 1100px){
    .promoblock__txt{
        margin-bottom: 20px;
    }
}
.promoblock__heading{
    display: block;
    font-weight: 600;
    font-size: 30px;
    line-height: 140%;
    color: #5C94FF;
    position: relative;
    z-index: 3;
}
.promoblock__bg{
    display: block;
    width: auto;
    position: relative;
    padding-top: 53px;
}
.promoblock__bg::after{
    position: absolute;
    content: '';
    top: 0;
    right: -470px;
    width: 1570px;
    height: 895px;
    background-image: url('media/promo-bg.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
}

.bonuses__balance__one {
    position: absolute;
    padding: 15px;
    background-color: #272b37;
    color: #ffffff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 20px;
    line-height: 1;
    height: 70px;
    min-width: 160px;
    z-index: 2;
    top: calc(50% - 70px);
    left: 0;
}

.bonuses__balance__one::before {
    content: "";
    position: absolute;
    top: calc(100% - 5px);
    left: -5px;
    transform: none;
    width: 10px;
    height: 10px;
    background: #5C94FF;
    z-index: 1;
}

.form__submit:disabled {
    background: #ededed;
    color: rgba(0, 0, 0, .6);
    cursor: default;
}

.form__submit:disabled:hover {
    background: #ededed;
    box-shadow: 0 0 0 0;
}

.bonuses__subprogram_title_box {
    margin-left: auto;
    margin-right: 0;
    font-size: 25px;
    margin-bottom: 8px;
}

.bonuses__subprogram_title_block {
    justify-content: flex-end;
    display: flex;
}

.win_subprogram_box {
    font-size: 25px;
    position: absolute;
    top: -45px;
    width: max-content;
}

.win_subprogram_box_span{
    background: #B7D0FF;
    padding: 5px;
}

.bonuses-special{
    font-size: 18px;
    padding: 0px 82px 18px 92px;
}
